label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #3f525c;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    color: white;
   
  }
  button:hover {
    background-color: #121213;
    
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  span{
    color: #435960;
    font-weight: bold;
  }