<div *ngIf="employee">

    <h2>{{employee.name | uppercase}} Details</h2>
    <div><span>id: </span>{{employee.id}}</div>
    <div>

      <label for="employee-name">Name: </label>
      <input id="employee-name" [(ngModel)]="employeee" placeholder="{{employee.name}}">
      <br>
      <label for="employee-MobilNo">MobileNo:</label>
      <input id="employee-MobilNo" [(ngModel)]="employee.MobileNo" placeholder="{{employee.MobileNo}}">
      
</div>
<button (click)="goBack()">go back</button>
  </div>


  