h1 {
    margin-bottom: 0;
  }
  nav a {
    padding: 16px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: #3f525c;
    color: white;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color: #000000;
  }
  nav a.active {
    background-color: black;
  }